.contentClass {
  padding: 30px;
}

.subTitulo {
  font-size: 21px;
  font-family: 'hm-s';
}

.titulo {
  font-size: 25px;
  font-family: 'hm-S';
}

.paddContent {
  padding-left: 17px;
}

.labeltxtForm {
  font-size: 14px !important;
  font-family: 'hm-r';
  font-weight: bold;
  text-align: center;
  color: var(--ion-color-blackprop) !important;
}
