<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list class="itemtrans">

          <div class="padIos" *ngIf="iOSDevice"></div>

          <ion-item class="dataUser" lines="none" (click)="showDataUser()">
            <ion-avatar slot="start">
              <img *ngIf="dataUser.image === ''" src="assets/icon/profile.png">
              <img *ngIf="dataUser.image !== ''" [src]="dataUser.image">
            </ion-avatar>
            <ion-list-header class="txtNameUser">{{dataUser.name | titlecase}} {{dataUser.lastname |
              titlecase}}</ion-list-header>
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let page of pages1" routerDirection="root" (click)="eventPage(page)" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [src]="page.iconUrl"></ion-icon>
              <ion-label class="txtList">{{page.name | titlecase}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <hr class="style-two">

        <ion-list class="itemtrans">
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let page of pages2" routerDirection="root" (click)="eventPage(page)" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [src]="page.iconUrl"></ion-icon>
              <ion-label class="txtList">{{page.name | titlecase}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
