<ion-content>
  <div class="background-header">
    <img src="assets/icon/icon.png" class="fade-in imgFormVal">

    <ion-menu-button class="menuIcon">
      <img src="assets/icon/menu.png" class="fade-in" class="tamIconMenuLat">
    </ion-menu-button>

    <div class="background-content directionRadiusRight">

      <div class="fade-in" class="contentClass">

        <div class="txtStandar">
          Explorador
          <br>
          <img src="assets/icon/folder.svg" class="">
        </div>

      </div>
    </div>
  </div>
</ion-content>
